@media only screen and (min-width: 320px) {
    .add-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: 2;
        background: linear-gradient(#23314E, #161F30);
        color: white;
    }
    .add-form-enter {
        top: 100%;
    }

    .add-form-enter-active {
        top: 0%;
        transition: top 150ms;
    }

    .add-form-enter-done {
        top: 0%;
    }

    .add-form-exit {
        top: 0%;
    }

    .add-form-exit-active {
        top: 100%;
        transition: top 150ms;
    }

    .close-form {
        position: absolute;
        margin: 15px;
        text-decoration: underline;
        cursor: pointer;
        left: 0%;
    }

    .close-form:active {
        opacity: 0.2;
        transition: opacity 300ms;
    }

    .activity-location, .activity-title, .activity-description {
        position: relative;
        display: flex;
        justify-content: center;
        height: 40px;
        width: 100%;
        margin-top: 50px;
    }

    .activity-title, .activity-description {
        margin-top: 15px;
    }

    .activity-description {
        height: 80px;
    }

    .location, .title, .description {
        display: flex;
        justify-content: center;
        height: 100%;
        width: 95%;
        border-radius: 13px;
    }

    #location, #title, #description {
        font-family: sans-serif !important;
        font-weight: 500 !important;
        font-size: 14px;
        letter-spacing: 0.5px;
        color:white;
        padding-left: 10px;
        outline: none;
        border: none;
        height: 100%;
        width: 100%;
        border-radius: 13px;
        background: rgba(0,0,0,0.25);
    }

    #description {
        padding: 10px;
        resize: none;
    }
    
    .search-icon {
        position: absolute;
        width: 20px;
        height: 20px;
        right: 5%;
        top: 25%;
    }

    .info-panel {
        position: relative;
        width: 95%;
        height: 50vh;
        background: rgba(0,0,0,0.25);
        margin-top: 15px;
        border-radius: 13px;
        outline: none;
        border: none;
        overflow: hidden;
    }
    .activity-confirm {
        margin-top: 100px;
    }

    .location-option {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 14px;
    }
    .location-identifier {
        width: 85%;
    }
    .location-address {
        font-size: 11px;
        opacity: 0.3;
    }
    .location-review {
        margin-left: 15%;
    }
}