@media only screen and (min-width: 320px) {
    .add-form {
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: 2;
        background: linear-gradient(#23314E, #161F30);
        color: white;
    }
    .add-form-enter {
        top: 100%;
    }

    .add-form-enter-active {
        top: 0%;
        transition: top 150ms;
    }

    .add-form-enter-done {
        top: 0%;
    }

    .add-form-exit {
        top: 0%;
    }

    .add-form-exit-active {
        top: 100%;
        transition: top 150ms;
    }

}