@media only screen and (min-width: 375px) {
    .buttons {
        display:flex;
        position:relative;
        justify-content: space-between;
        width:90%;
        left: 5%;
        margin-top: 5%;
    }

}